/*폰트 설정*/
@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&display=swap");

::selection {
  background-color: rgb(63, 63, 63);
  color: white;
}

/*HTML 기본 스타일*/
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow: auto;
  position: relative;
}
:lang(ko) {
  font-family: "S-CoreDream-2ExtraLight";
}
:lang(en) {
  font-family: "Montserrat";
}

:root {
  --text-color: white;
  --background-color: #323232;
  --hover-color: black;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: -7px;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

.faq {
  margin-top: 30px;
}

.faq p {
  font-family: "GmarketSansLight";
}

.joinbody {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../files/images/discordbg.png);
  background-size: cover;
}

.jointext {
  height: 100%;
  padding-top: 250px;
}

.joinbody div img {
  width: 100px;
  margin-top: 100px;
  animation-name: roll;
  animation-duration: 1.3s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes roll {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 768px) {
  .joindescript {
    height: 100%;
  }
  .joinbody div img {
    width: 50px;
    margin-top: 40px;
  }
}
