/*폰트 설정*/
@font-face {
  font-family: 'arcamajora3-bold';
  src: url(fonts/ArcaMajora3-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'arcamajora3-heavy';
  src: url(fonts/ArcaMajora3-Heavy.otf) format('opentype');
}

@font-face {
  font-family: 'silgothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/silgothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*HTML 기본 스타일*/
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;   
  -o-overflow-scrolling: touch;   
  -ms-overflow-scrolling: touch;
  overflow: auto;
  position: relative;
}
:lang(ko) {font-family: 'S-CoreDream-2ExtraLight';}
:lang(en) {font-family: 'Montserrat';}

:root {
    --text-color: white;
    --background-color: #323232;
    --hover-color: black;
}

html,body {
    margin: 0;
    padding:0;
    height:100%;
    width:100%; height:100%;
}

.homebody {
  font-family: 'arcamajora3-heavy';
}

.wrapper{
  display: flex; min-height: auto; flex-direction: column;
}


.main-content {
 position:auto;
}


footer {
  height:60px;
  background: black;
  color:#fff;
  vertical-align: middle;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: 'Montserrat';
  font-weight: bolder;
  letter-spacing: -0.5px;
}


a {
  text-decoration: none;
  color: white;
}

/*글자 애니메이션*/
.loading {
  margin-top: 200px;
  margin-bottom: 200px;
  font-family: 'arcamajora3-heavy';
}

.loading span {
  display: inline-block;
  color: var(--text-color);
  margin: 0 -.05em;
  align-items: center;
  animation: loading 2.6s infinite alternate;

  }
  .loading span:nth-child(2) {
    animation-delay: .2s;
  }
  .loading span:nth-child(3) {
    animation-delay: .4s;
  }
  .loading span:nth-child(4) {
    animation-delay: .6s;
  }
  .loading span:nth-child(5) {
    animation-delay: .8s;
  }
  .loading span:nth-child(6) {
    animation-delay: 1s;
  }
  .loading span:nth-child(7) {
    animation-delay: 1.2s;
  }
  .loading span:nth-child(8) {
    animation-delay: 1.4s;
  }
  .loading span:nth-child(9) {
    animation-delay: 1.6s;
  }
  .loading span:nth-child(10) {
    animation-delay: 1.8s;
  }
  .loading span:nth-child(11) {
    animation-delay: 2s;
  }
  .loading span:nth-child(12) {
    animation-delay: 2.2s;
  }
  .loading span:nth-child(13) {
    animation-delay: 2.4s;
  }
  .loading span:nth-child(14) {
    animation-delay: 2.6s;
  }
  @keyframes loading {
    0% {
      filter: blur(0);
      opacity: 1;
    }
    100% {
      filter: blur(5px);
      opacity: .2;
    }
  }

/*드래그 금지*/
div.stop-dragging
{
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*네비게이션 바*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1F1F;
    padding: 8px 12px;
    margin: 0px 0px 0px 0px;
    font-family: 'arcamajora3-bold';
    box-shadow: 0px 10px 30px 0px #1F1F1F;
}

.navbarpopup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin: 0px 0px 0px 0px;
  font-family: 'arcamajora3-bold';

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  height: 75px;
  padding: 1rem;
  color: auto;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  font-size: 24px;
  filter: invert(100%);
  margin-left: 20px;
}

.navbar_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
  background-color: #1f1f1f;    
}

.navbar_menu li {
  padding: 8px 12px;
  border-radius: 20px;
  color: white;
  -moz-transition:color .3s ease-out;   
  -o-transition:color .3s ease-out;   
  -ms-transition:color .3s ease-out;   
  -webkit-transition:color .3s ease-out;   
  transition:color .3s ease-out;
}

.navbar_menu li:hover {
  background-color: black;
  border-radius: 20px;
  -moz-transition:background-color .3s ease;   
  -o-transition:background-color .3s ease;   
  -ms-transition:background-color .3s ease;   
  -webkit-transition:background-color .3s ease;   
  transition: background-color .3s ease;
}

.navbar_icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
  color: white;
  -moz-transition:color .2s ease-out;   
  -o-transition:color .2s ease-out;   
  -ms-transition:color .2s ease-out;   
  -webkit-transition:color .2s ease-out;   
  transition:color .2s ease-out;
}

.navbar_iconspopup {
  list-style: none;
  display: flex;
  padding-left: 0;
  color: black;
  filter: invert(100%);
}

.navbar_iconspopup li {
  padding: 8px 12px;
}

.navbar_iconspopup :hover {
  filter: invert(50%);
  -moz-transition:color .2s ease;   
  -o-transition:color .2s ease;   
  -ms-transition:color .2s ease;   
  -webkit-transition:color .2s ease;   
  transition:color .2s ease;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_icons :hover {
  color: #FDD300;
  -moz-transition:color .2s ease;   
  -o-transition:color .2s ease;   
  -ms-transition:color .2s ease;   
  -webkit-transition:color .2s ease;   
  transition:color .2s ease;
}

.navbar_togglebtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: white;
}


.main-content-members {
  display: flex;
}

.mainvideos {
  margin-bottom: 5px;
}

.ibox {
  text-align: center;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 7px;
  color: white;
  background-color: #222222;
  box-shadow: 0px 10px 50px 0px black;
}

.discordwidget {
  width: auto;
  height: 550px;
  margin-right: 0.5vw;
}

/*Members 섹션*/
.members {
  display: flex;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -0.7vw;
}

.memberi {
  margin-top: 15px;
}

.memberimg {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.membersicons {
  display: flex;
  padding-left: 0px;
}

.membersiconsli {
  display: flex;
  padding-left: 0px;
  padding: 8px 12px;
}

.memberul {
  margin-top: -20px;
  margin-left: -40px;
  margin-bottom: 40px;
}

.memberil {
  display: flex;
  list-style: none;
}


/*Proejct File 섹션*/

.proejctthumb img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transition: .2s ease-out;
}

.proejctthumb:hover img {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  -moz-transform: scale(1.02);
  transform: scale(1.02);
  opacity: 90%;
  transition: .2s ease;
}

.projectinfo {
  margin-top: -5px;
  background-color: rgb(0, 0, 41);
  color: white;
}

.projecthome {
    align-items: center;
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 370px;
    margin-bottom: 350px;
}

.projectul {
  align-items: center;
}

.projectdownload {
  display: inline-block;
  position: relative;
  color: white;
  -moz-transition:color .2s ease-out;   
  -o-transition:color .2s ease-out;   
  -ms-transition:color .2s ease-out;   
  -webkit-transition:color .2s ease-out;   
  transition:color .2s ease-out;
}

.projectdownload::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #FDD300;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.projectdownload:hover {
  color: #FDD300;
  -moz-transition:color .2s ease;   
  -o-transition:color .2s ease;   
  -ms-transition:color .2s ease;   
  -webkit-transition:color .2s ease;   
  transition:color .2s ease;
}

.projectdownload:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/*About 섹션*/
.aboutlineswitch {
  position: static;
  text-align: center;
  color: var(--text-color);
}

.abouten {
  font-family: 'arcamajora3-bold';
}
.aboutkr {
  font-family: 'Noto Sans KR';
}
.aboutjp{
  font-family: 'Noto Sans KR';
}

.contacthover {
  margin-bottom: 200px;
}

.contacthover2 {
  margin-bottom: 200px;
  font-family: 'arcamajora3-bold';
  background-color: white;
  color: black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'arcamajora3-bold';
  -moz-transition:background-color .3s ease-out;   
  -o-transition:background-color .3s ease-out;   
  -ms-transition:background-color .3s ease-out;   
  -webkit-transition:background-color .3s ease-out;   
  transition: background-color .3s ease-out;
}

.contacthover :hover{
  background-color:#FDD300;
  color: black;
  border-radius: 10px;
  font-family: 'arcamajora3-bold';
  -moz-transition:background-color .3s ease;   
  -o-transition:background-color .3s ease;   
  -ms-transition:background-color .3s ease;   
  -webkit-transition:background-color .3s ease;   
  transition: background-color .3s ease;
}

.box {
  margin-top: 10px;
}
.box ul {
  padding-left: 10px;
}
.box ul:after {
  display: block;
  clear: both;
  content: "";
}
.box li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 200px;
  margin-bottom: 10px;
}
.box li .inner {
  text-align: center;
  line-height: 200px;
  height: 100%;
  margin-right: 10px;
  border: 1px solid #5e5e5e;
  background-color: #e9e9e9;
}


/*Join 페이지*/
.joindescript {
  margin-top: 250px;
  margin-bottom: 250px;
  text-align: center;
}

.joinbody {
  margin: 0;
  padding:0;
  height:100%;
  width:100%; height:100%;
  background-image: url('images/discordbg.png');
}


/*메인페이지*/
.popupdiv {
  display: flex;
  width: 100%;
}

.popuptitle {
  font-family: 'Montserrat';
  width: 18vw;
  height: auto;
  padding-right: 10vw; 
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
  writing-mode: tb-rl;
  align-items: center;
  color: white;
  font-size: 110px;
  letter-spacing: -5px;
  background-color: rgb(24, 24, 24);
}

.popuptitlekr {
  font-family: 'S-CoreDream-2ExtraLight';
  width: 18vw;
  height: auto;
  padding-right: 10vw; 
  padding-top: 100px;
  text-align: left;
  writing-mode: tb-rl;
  align-items: center;
  color: white;
  font-size: 70px;
  letter-spacing: -20px;
  background-color: rgb(24, 24, 24);
}

.popupcontent {
  font-family: 'Montserrat';
  margin-top: 7%;
  margin-left: 7%;
  margin-bottom: 250px;
}

.popuptitleaboutus {
  font-family: 'Montserrat';
  width: 18vw;
  height: 100%;
  padding-right: 10vw; 
  padding-left: 5vw;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
  writing-mode: tb-rl;
  align-items: center;
  color: white;
  font-size: 90px;
  letter-spacing: -5px;
  background-color: rgb(24, 24, 24);
}

.popupaboutus {
  font-family: 'Montserrat';
  width: 100%;
  color: white;
}

.langsel {
  color: black;
  margin-top: 20px;
}

.pcontent {
  margin-bottom: -0.5px;
  font-size: 50px;
  font-weight: "";
}

hr.popupcontenthr {
  width: 40vw;
  text-align: left;
  margin-left: 0px;
}

hr.shortcuthr {
  width: 33vw;
  text-align: left;
  margin-left: 0px;
}

.shorcutcontent {
  padding: 10px;
}

/*페이지 공지*/
.pageannounce {
  text-align: center;
}


.pageannounce {
  background-color: white;
  padding:10px;
  font-family: 'arcamajora3-heavy';
  letter-spacing: -0.6px;
}

#close {
  display: right;
  display:inline-block;
  padding:2px 5px;
  font-weight: 700;
  font-size: 20px;
  -moz-transition:opacity .3s ease-out;   
  -o-transition:opacity .3s ease-out;   
  -ms-transition:opacity .3s ease-out;   
  -webkit-transition:opacity .3s ease-out;   
  transition: opacity .3s ease-out;
}

#close:hover {
  opacity: 70%;
  -moz-transition:opacity .3s ease;   
  -o-transition:opacity .3s ease;   
  -ms-transition:opacity .3s ease;   
  -webkit-transition:opacity .3s ease;   
  transition: opacity .3s ease;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }


    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%
    }

    .navbar_togglebtn {
        margin-top: 15px;
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }

    .popupdiv {
      flex-direction: column;
    }
    
    .popuptitle {
      writing-mode: lr-tb;
      padding-top:70px;
      width: 100%;
      font-size: 70px;
      text-align: center;
      vertical-align: middle;
    }

    .popuptitlekr {
      writing-mode: lr-tb;
      padding-top: 70px;
      padding-bottom: 70px;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      letter-spacing: -7px;
    }

    .projectinfo {
      text-align: left;
      width: 312px;
    }

    .popuptitleaboutus {
      writing-mode: lr-tb;
      padding-top: 70px;
      padding-bottom: 70px;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      font-size: 70px;
    }
}


/* 효과 */
/* Fade */
.hvr-fade {
  width: 47%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgb(231, 231, 231);
  color: black;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  color: black;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1d1d1d;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: rgb(255, 255, 255);
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Icon Forward */
.hvr-icon-forward {
  display: none;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/* Grow */
.hvr-grow {
  color: black;
  font-size: 20px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  opacity: 80%;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}